/*
Name: Terrence Shaw
File: style.css
Date: 20 Feb 2026
Description: Styling a biography page
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

/*
Box styles
*/
body {
  padding: 20 px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

/*
Text styles
*/
h1{
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

.job-title {
  color: darkslategray;
  font-weight: bold;
}
a {
  color: green;
}
a:hover, a:focus {
  color: darkgreen;
  text-decoration: none;
}